.btn-card {
  width: 21em;
}

a {
  color: var(--color-secondary);
}

.card-btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-radius: 0;
  font-size: 1.8em;
  padding-right: 3.5em;
  padding-left: 3.5em;

  color: #fff;
}

.card-btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.card-btn:focus {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.brown {
  margin-left: 0;
  margin-top: 0;
}
