header {
  display: block;
  background-color: var(--color-primary);
  max-width: 100em;
  padding-top: .5em;
}

ul {
  text-align: center;
  list-style-type: none;
  padding-left: 1em;
  padding-right: .5em;
  padding-bottom: .5em;
}

li {
  padding-bottom: .3em;
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-radius: 0;

  color: #fff;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn:focus {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
