.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-radius: 0;

  color: #fff;
}

.btn-other {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 0;

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  border-radius: 0;

  color: var(--color-primary);
}

.btn-ghost-other {
  background-color: transparent;
  border-color: var(--color-secondary);
  border-radius: 0;

  color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-other:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.btn-ghost:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}

.btn:focus {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-other:focus {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.btn-ghost:focus {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}
