:root {
  --color-primary: #a5cf67;
  --color-primary-light: #cee2a6;
  --color-secondary: #0fb189;
  --color-accent: #91d0bb;

  --font-primary: "Raleway", sans-serif;
}

html {
  font-family: var(--font-primary);
}
